<div class="requirement">

	<div>
		<strong>Name: </strong> <%= requirement.name %> <strong> id: </strong> <%= requirement.id %> 
		<div> <strong>Description: </strong> <%= requirement.description %> </div>
	</div>

	<div class="ranges">
		<strong>Minimum: </strong> <%= requirement.minimum %>
		<strong>Most likely: </strong> <%= requirement.most_likely %>
		<strong>Maximum: </strong> <%= requirement.maximum %>
	</div>

	<div>
		<%= button_to "Edit", edit_requirement_path(id: requirement.id),method: :get %>
		<%= button_to "Delete", requirement_path(id: requirement.id) , 
		data: {confirm: "Are you sure?"}, method: :delete %>
		<%= link_to "<button>Add sub-requirement</button>".html_safe, new_child_requirement_path(id: requirement.id) %>
	</div>

</div>