<div class="requirement">

	<div>
		<%= requirement.name %> <strong> id: </strong> <%= requirement.id %> 
		<%= requirement.description %>
	</div>

	<div>
		<%= button_to "Add sub-requirement", new_project_requirement_path(parent_id: requirement),method: :get %>
		<%= button_to "Delete", project_requirement_path(project_id: @project.id,id: requirement.id), 
		data: {confirm: "Are you sure?"}, method: :delete %>
	</div>

</div>